body{
    background-color: #4b3832;
}
h1{
    color: #854442;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}
h2{
    color: #854442;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}
.kutu{
    background-color: #be9b7b;
    margin: 0 auto;
    width: 180px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.yt{
    margin:0 auto;
    width: auto;
    text-align: center;
}
p{
    color: #fff4e6;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}
